# Common files
node_modules/
dist/
build/
.env
.DS_Store

# Frontend specific
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env

# Backend specific
backend/node_modules/
backend/dist/
backend/build/
backend/.env
